.doctor-grid{
    display: grid;
    grid-template-columns: repeat(3 ,1fr );
    grid-gap: 25px;
}
@media(max-width: 992px){
    .doctor-grid{
        display: grid;
        grid-template-columns: repeat(2 ,1fr );
        grid-gap: 25px;
    }
}
@media(max-width: 768px){
    .doctor-grid{
        display: grid;
        grid-template-columns: repeat(1 ,1fr );
        grid-gap: 25px;
    }
}
.single-doctor img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    margin: 20px 0;
}
.single-doctor{
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 30px;
}
.doctor-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-doctor h3{
    margin: 10px 0;
    font-weight:500;
    font-size: 18px;
    font-weight: bold;
    color: lightcoral;
}
.single-doctor h4{
    margin: 10px 0;
    font-weight:500;
    font-size: 18px;
    font-weight: bold;
    color: rgb(14, 2, 2);

}
.single-doctor p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}