.service-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-gap: 15px;
}

@media(max-width: 992px){
    .service-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        grid-gap: 15px;
    }
    
}
@media(max-width: 768px){
    .service-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr );
        grid-gap: 15px;
        text-align: center;
    }
    .details-btn{
        width: 25%;
    }
    
}


.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
}